<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>반짝 로그인</title>
</head>
<body>
<header></header>
<article class="main-login">
    <ul class="login-container">
        <p>반짝회원 로그인</p>
        <li><div>아이디</div><input type="text" id="username"></li>
        <li><div>비밀번호</div><input type="password" id="password"></li>
    </ul>
    <div onclick="loginValidation()" class="login-button">로그인</div>
    <div>
        <p>회원이 아니신가요?</p>
        <p>지금 바로 가입해보세요 <a href="/join">회원가입</a></p>
        <p><label onclik="findId()">아이디 찾기</label><span>   </span><label>비밀번호 찾기</label></p>
    </div>
    <img onclick="window.location.href='http://localhost:8080/oauth2/authorization/kakao'" src="/img/kakao_login.png"></img>
</article>
<footer></footer>
</body>
<script src="/script/common.js"></script>
<script src="/script/login.js"></script>
</html>