<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/view.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<header class="main-header">
    <div class="header-bar">
        <div onclick="location.href='/'">로고</div>
        <div class="header-inout" onclick='location.href="/login"'>로그인</div>
    </div>
</header>
<nav class="main-menu">
    <ul class="menu-container">
        <li>홈</li>
        <li>중고거래</li>
        <li>게시판</li>
        <li>내정보</li>
    </ul>
</nav>
<article class="main-view" id="main-view">
    <div class="view-box">
        홈화면 뷰
    </div>
</article>

<footer class="main-footer">
    <div>
        푸터 뷰
    </div>
</footer>

</body>
</html>