.chat-list{
    margin:0 auto;
    width:70%;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-list li{
    width:100%;
    height:50px;
    border: 1px solid #ccc;
    margin:3px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chat-list li:hover{
    opacity: 0.3;
}

.chat-list li div{
    margin:0 8px;

}
.chat-list li div:nth-child(1){
    width:70px;
    height:90%;
    border-radius: 5px;
    border:1px solid black;

}
.chat-list li div:nth-child(2){
    width:150px;
    font-size:16px;
}
.chat-list li div:nth-child(3){
    font-size:11px;
    color:#ccc;
}


@media(max-width:580px) {
    .chat-list{
        width:100%;
    }
    .h-title{
           max-width: 250px;
           overflow-x: hidden;
        }
}

@media(min-width:900px) {
    .chat-list{
        width:60%;
    }
}

.chat-room{
    margin:0 auto;
    width:70%;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.chat-room li{
    width:100%;
    display: flex;
    padding:5px 0;
}
.chat-received{
    justify-content: flex-start;
}
.chat-sent{
    justify-content: end;
}
.messageItem{
    font-size:15px;
    border : 1px solid #ccc;
    border-radius: 20px;
    margin:0 5px;
    padding:5px;
}

.inputChat{
    width:80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    padding:8px 0;
    justify-content: center;

}
.inputChat input{
    width:60%;
    height:30px;
    border-radius: 8px;
    box-sizing: border-box;
}
#sendButton{
    margin-right:90px;
    margin-left:5px;
    cursor: pointer;
}

.sender{
    font-size:15px;
    font-weight:bolder;
    margin:0 5px;
    padding:5px;
}


.chat-tradeboard{
    width:70%;
    margin:0 auto;
    height:60px;
    border : 1px solid #ccc;
    border-radius: 5px;
    margin-top:7px;
    margin-bottom:7px;
    cursor:pointer;
    display:flex;
}
.chat-tradeboard:hover{
    opacity: 0.3;
}
.chat-tradeboard div:nth-child(1){
    width:40px;
    height:50px;
    padding:3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.chat-tradeboard div:nth-child(1) img{
    width:100%;
    height:auto;
    object-fit: cover;
}
.h-title{
    margin:0;
    overflow-x: hidden;
}
.h-price{
    margin:0;
}
.condition{
    margin-left:15px;
    font-size:13px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius: 15px;
    height:20px;
    padding:5px;
    color:green;
}
