.tradeboard-bar{

    width:inherit;
    display: flex;
    justify-content: space-between;
    height:40px;
    align-items: center;
    background-color: #ccc;
}
.tradeboard-bar div{
    box-sizing: border-box;
    margin:10px;

}
.tradeboard-bar div:nth-child(1){
    width:250px;
    display: flex;
    justify-content: space-evenly;
}
.tradeboard-bar div:nth-child(1) span{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding :5px;
}
.tradeboard-bar div:nth-child(1) span:hover{
    opacity: 0.3;
}
.tradeboard-bar div:nth-child(2){
    padding:5px;
    border: 1px solid black;
    width:60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.tradeboard-bar div:nth-child(2):hover{
    opacity: 0.3;
}

.tradeboard-item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.tradeboard-item li{
    width:20vw;
    height:30vw;
    margin:10px;
    border:1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.tradeboard-item li:hover{
    opacity: 0.3;
}
.tradeboard-photo{
    width:inherit;
    height:20vw;
    object-fit: contain;
}
.tradeboard-photo img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding:5px;
}
.tradeboard-price{
    font-size: 20px;
    font-weight: bold;
    margin-top:5px;
}
.tradeboard-title{
    width:inherit;
    height:30px;
    font-size:13px;
    font-weight: bold;
    overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;

}

/* new */
body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 20;
    border-radius: 20px;
    pointer-events: auto;
}

.grid-item:hover {
    transform: scale(1.05);
    opacity: 0.8;

}

.grid-item img {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: contain; /* Ensures the image covers the entire area */
}

.item-info {
    padding: 10px;
}

.item-info h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.item-info .condition {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.item-info .price, .item-info .date {
    margin: 5px 0;
}

.load-more {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.load-more:hover {
    background-color: #0056b3;
}


/* tradeboard info*/

.product-detail {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.product-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.product-price {
    font-size: 24px;
    color: #e74c3c;
    margin: 10px 0;
}

.product-seller {
    color: #888;
    margin-bottom: 20px;
}

.product-view-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.view-icon {
    font-size: 24px;
    margin-right: 5px;
}

.view-count {
    font-size: 16px;
}

.product-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.product-images img {
    max-width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-images img:hover {
    transform: scale(1.05);
}

.product-description {
    margin-bottom: 20px;
}

.product-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 16px;
    line-height: 1.6;
}

.chat-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.chat-button:hover {
    background-color: #2980b9;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}


/*tradeboard write*/
.tradeboard-write-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* 최대 너비를 800px로 설정 */
    width: 100%; /* 화면이 좁을 때 100%로 설정 */
}

.tradebaord-write-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.tradeboard-form-group {
    margin-bottom: 20px;
}

.tradebaord-form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

.tradeboard-price,
 .tradeboard-title,
 .tradeboard-content,
 .tradeboard-category{
    width: 90%;
    max-width:450px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fdfdfd;
    transition: border-color 0.3s;
}
.tradeboard-category{
    width:45%;
    max-width:225px;
}
.tradeboard-content{
   width:100%;
   max-width:1080px;
   overflow: hidden;
}
.tradeboard-price{
    max-width:350px;
}

.tradeboard-price:focus,
 .tradeboard-title:focus,
 .tradeboard-content:focus,
 .tradeboard-category:focus{
    border-color: #007bff;
}

.tradeboard-content{
    resize: none;
    overflow-y: scroll;

}

.image-upload-container {
    position: relative;
    width: 100%;
}

.image-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 이미지를 한 행에 5개씩 배치 */
    grid-gap: 5px;
    background-color: #f5f5f5;
    padding: 5px;
    position: relative;
    height: 140px; /* 높이를 고정하여 이미지가 추가되더라도 높이가 늘어나지 않도록 */

}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.upload-placeholder {
    height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #e9ecef;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.image-count {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.tradeboard-button {
    margin:0 auto;
    width: 120px;
    height:30px;
    padding:15px;
    text-align:center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.tradeboard-button:hover {
    background-color: #0056b3;
}

@media(max-width:799px) {
    .image-preview {
        height:100px;
    }
    .upload-placeholder {
    font-size:12px;
    }
}
@media(max-width:550px) {
    .image-preview {
        height:80px;
    }
    .upload-placeholder {

        font-size:9px;
    }
}
